<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <form action="{% url 'auth' %}" method="POST" class="col-md-5">
        {% csrf_token %}
        <label>UserName : </label>
        <input type="text" placeholder="Enter UserName  : " name="username" class="form-control"><br><br>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password :  " name="password" class="form-control"><br><br>
        <input type="submit" value="LOGIN" class="btn btn-primary">
    </form>
</body>

</html>